.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
}

.container {
  max-width: 380px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: 100%;
  }
}
.bodyblock {
  overflow: hidden;
}

.header {
  background-color: #77cdfe;
  height: 48px;
}

.header__container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #77cdfe;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.navigation__list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navigation__link {
  text-decoration: none;
  display: block;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 200px;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 4px;
}
.navigation__link:hover {
  border-color: #5c66c9;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}

.navigation__element {
  font-size: 16px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  height: inherit;
}

.navigation__btn {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
}

.x-mark {
  transform: translateY(6px);
  display: block;
  width: 28px;
  height: 4px;
  background-color: #fff;
  margin-bottom: 3px;
}
.x-mark::before {
  content: "";
  display: block;
  width: 28px;
  height: 4px;
  background-color: inherit;
  transform: translateY(-8px);
}
.x-mark::after {
  content: "";
  display: block;
  width: 28px;
  height: 4px;
  background-color: inherit;
  transform: translateY(4px);
}

.btn__close {
  position: absolute;
  font-size: 32px;
  top: 10px;
  right: 35px;
}

.btn__open {
  margin-top: 5px;
}

.header__logo {
  width: 40px;
  height: 32px;
}

.navigation__icon {
  width: 28px;
  height: 28px;
  fill: #000;
}

@media screen and (min-width: 768px) {
  .navigation__list {
    width: 500px;
    justify-content: none;
  }
  .navigation__link {
    height: 80px;
    width: 400px;
    padding: 8px;
  }
  .navigation__element {
    width: 400px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    height: 100px;
  }
  .header__logo {
    width: 64px;
    height: 60px;
  }
  .navigation__btn {
    display: none;
  }
  .header__navigation {
    display: flex;
    position: relative;
    background: transparent;
    height: auto;
  }
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: auto;
    height: auto;
  }
  .navigation__link {
    width: auto;
    border: none;
  }
  .navigation__link:hover {
    box-shadow: none;
    color: aqua;
  }
  .navigation__element {
    width: auto;
    text-align: center;
    font-size: 22px;
  }
}
.footer {
  background-color: #5c66c9;
  padding-top: 32px;
  padding-bottom: 32px;
}

.social__list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social__link {
  color: #6eb6ff;
}
.social__link:hover {
  color: #f2f2f2;
}

.social__icon {
  width: 32px;
  height: 32px;
  fill: currentColor;
}

.footer__container {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
}

.footer__wraper {
  display: flex;
  justify-content: space-between;
}

.adress_link {
  text-decoration: none;
  display: block;
  color: #f2f2f2;
}

.hero {
  display: none;
}

.news__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
  font-size: 28px;
}

.news__list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.news__wraper {
  position: relative;
}

.news__element {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #5c66c9;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 30px;
}

.element__title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  padding-left: 12px;
  font-size: 24px;
  line-height: 1.33;
}

.element__date {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  position: absolute;
  left: 15px;
  bottom: 112px;
  background-color: #5c66c9;
  color: #fff;
}

.date__day {
  font-size: 28px;
}

.element__descrption {
  margin: 0;
  padding: 0;
  padding-left: 12px;
  margin-bottom: 12px;
  width: 100%;
  height: 75px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .news__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .news__element {
    width: 350px;
    height: 350px;
  }
  .news__element--last {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .news__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .news__element {
    width: 370px;
    height: 350px;
  }
  .news__element--last {
    display: flex;
  }
}
.sections {
  padding-top: 30px;
}

.sections__list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}

.sections_image {
  width: 348px;
}

.sections_link {
  text-decoration: none;
  display: block;
  display: block;
}

.sections__item {
  border: 1px solid #77cdfe;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.sections__caption {
  border-top: 1px solid #77cdfe;
  margin: 0;
  padding: 16px 0;
  text-align: center;
  font-size: 24px;
  line-height: 1.33;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .sections__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .sections__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}/*# sourceMappingURL=main.css.map */