.footer{
    background-color: $hover-color;
    padding-top: 32px;
    padding-bottom: 32px;
    }
.social__list{
    @include list;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.social__link{
    color: $accent-color;
    &:hover{
        color: #f2f2f2;
        }
    }
.social__icon{
    width: 32px;
    height: 32px;
    fill: currentColor;   
}
.footer__container{
    display: flex;
    flex-direction: column-reverse;
    gap:30px;
    }
.footer__wraper{
    display: flex;
    justify-content: space-between;
    }
.adress_link{
    @include link;
    color: #f2f2f2;
    }